<div class="menu-content">
    <div class="menu-content-user-info ">
        <h4>ข้อมูลลูกค้า</h4>
        <!-- <div class="card">
            <div class="card-img"><img src="images/cards/card-black.png" class="media-object"></div>
            <div class="card-detail">{{customerProfile.customerId}}
                <br> EXP: {{customerProfile["id-expire-date"]}}</div>
        </div> -->
        <h3><small>หมายเลขบัตรประชาชน/พาสปอร์ต</small> {{customerProfile.certificateId}}</h3>
        <h3><small>ชื่อ - นามสกุล</small>{{customerProfile.title}} {{customerProfile.firstName}} {{customerProfile.lastName}}</h3>
        <h3><small>ประเภทลูกค้า</small></h3>
        <!-- <div class="form-group"> -->
        <div class="col-md-12">
            <select class="form-control" ng-model="customerProfile.customerType" >
                <option value="I">บุคคลธรรมดา (I)</option>
                <option value="B">Business (B)</option>
                <option value="C">Corporate (C)</option>
            </select>
        </div>
        <!-- </div> -->
        <div class="col-md-12">
            <br>
        </div>
        <button class="btn btn-danger" ng-click="onClickEndServe()">เสร็จสิ้นการให้บริการ</button>
    </div>
    <version></version>
    <div class="navmenu">
        <ng-menu></ng-menu>
    </div>
</div>