<div id="custGet" class="menu-content">
    <div class="menu-content-read-card">
        <h4>ตรวจสอบข้อมูลลูกค้า</h4>
        <p>อ่านข้อมูลจากบัตรประชาชน</p>
        
        <!-- ReadCard -->
        <!-- <a ng-click="onReadcard()" class="btn btn-readcard"></a> -->
        <a onclick="ReadCard('ReadP');" class="btn btn-readcard"></a>
        <!-- end Readcard -->
        <input type="hidden" id="divID" value="{{divID}}" />
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <div ng-show="onReading">
                    <i class="fa fa-spin fa-spinner"></i>
                    กำลังอ่านข้อมูล...
                </div>
                <span ng-show="isReadCardErroe" style="color:red;">*{{readCardErrorDesc}}</span>
            </div>
        </div>
        <p>หรือ</p>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-12 control-label">ประเภทข้อมูล<span>*</span></label>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <select class="form-control" ng-model="cardTypeSelected">
                        <option ng-repeat="item in cardTypes" value="{{item.value}}">{{item.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input  placeholder="กรอกหมายเลขบัตร/หมายเลขบริการ" class="form-control" ng-keyup="onCardNoKeydown(inputCardNo)" ng-model="inputCardNo" ng-click="openSSO()" id="inputCardNo" readonly>
                    <!-- <input  placeholder="กรอกหมายเลขบัตร/หมายเลขบริการ" class="form-control" ng-keyup="onCardNoKeydown(inputCardNo)" ng-model="inputCardNo" id="inputCardNo"
                    > -->
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="navmenu">
        <ul class="nav navmenu-nav">
            <li><a href="#/existingcustomer" class="dropdown-toggle-submenu-v2">บริการหลังการขาย </a>
            </li>
            <li><a href="#/landingpage" class="dropdown-toggle-submenu-v2">สินค้าและบริการ </a></li>
            <li><a href="#/ordermonitor" class="dropdown-toggle-submenu-v2">Order Monitor</a></li>
            <li><a class="disabled">ชำระสินค้าและบริการ</a></li>
        </ul>
    </div> -->
    <version></version>
    <div class="navmenu">
        <ng-menu></ng-menu>
    </div>
</div>