<div class="menu-content">
    <div class="menu-content-user-info ">
        <h4>ข้อมูลลูกค้า</h4>
        <h3><small>หมายเลขบัตรประชาชน/พาสปอร์ต</small> {{customerProfile.certificateId}}</h3>
        <h3><small>ชื่อ - นามสกุล</small>{{customerProfile.title}} {{customerProfile.firstName}} {{customerProfile.lastName}}</h3>
        <h3><small>ประเภทลูกค้า</small></h3>
        <!-- <div class="form-group"> -->
        <div class="col-md-12">
            <select class="form-control">
                <option value="I" selected>บุคคลธรรมดา (I)</option>
                <option value="B">Business (B)</option>
                <option value="C">Corporate (C)</option>
            </select>
        </div>
        <div class="col-md-12">
            <br>
        </div>
        <button class="btn btn-danger" ng-click="onClickEndServe()">เสร็จสิ้นการให้บริการ</button>
    </div>
    <div version></div>
    <div class="navmenu">
        <div ng-menu></div>
    </div>
</div>
