<ul class="nav navmenu-nav">
    
    <li ng-repeat="itm in menu" data-toggle="collapse" class="collapsed" data-target="#submenu{{itm.id}}">
        <a href="" class="dropdown-toggle-submenu-v2" ng-show="itm.childMenuList.length > 0">{{itm.menuName}} <i class="fa fa-angle-down" ></i></a>
        <ul class="sub-menu collapse dropdown-menu-v2" id="submenu{{itm.id}}" ng-show="itm.childMenuList.length > 0">
            <li ng-repeat="subitm in itm.childMenuList"><a href="#/{{subitm.menuActionInternet}}">{{subitm.menuName}}</a></li>
            
        </ul>
        <a href="#/{{itm.menuActionInternet}}" class="dropdown-toggle-submenu-v2" ng-show="itm.childMenuList == null">{{itm.menuName}} </a>
    </li>
</ul>