<div>
    <div class="ngdialog-message">
       
        <table class="table">
                            <tr class="row">
                                <th class="col-md-12" colspan="6" style="background-color: #FF0000;color:white; ">
                                   IPhone 6</th>
                               <!--  <th class="col-md-3" style="background-color: #FF0000 ; "></th>
                                <th class="col-md-3" style="color:green;text-align:center; background-color: #FF0000 "></th>
                                <th class="col-md-1" style="text-align:center; background-color: #FF0000 "></th>
                                <th class="col-md-1" style="background-color: #FF0000 ; "></th>
                                <th class="col-md-1" style="background-color: #FF0000 ; "></th> -->
                                <!-- <img src="images/commos/btn_close.png" -->
                             
                            </tr>
                            <tr class="row">
                               
                                <th class="col-md-11" colspan="5" style="background-color: #c8bbbb; text-align:right">ราคา</th>
                                <th class="col-md-1" style="background-color: #c8bbbb; ">จำนวน</th>
                            </tr>
                             <tr class="row">
                                <td class="col-md-1"></td>
                                <td class="col-md-7">3000000</td>
                                <td class="col-md-1">h/sgggggg</td>
                                <td class="col-md-1">Avarible</td>
                                <td class="col-md-1" style="text-align:right;">990</td>
                                <td class="col-md-1"><input type="text" style="width:50px;"></td>
                            </tr>
                           
                            <tr class="row">
                                <th class="col-md-1"></th>
                                <th class="col-md-3"></th>
                                <th class="col-md-3"></th>
                                <th class="col-md-3"></th>
                                <th class="col-md-1">
                                    <button class="btn btn-success" data-dismiss="modal">ตกลง</button>
                                </th>
                            </tr>
                            
                        </table>
        
    </div>
    
</div>
