
<div tabindex="-1" data-backdrop="static" data-keyboard="false" ng-controller="productSelectorCtrl">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header header">
                <h5 class="navbar-text">IPhone 6</h5>
            </div>
            <table class="table table-hover">
                <tr >
                    <th class="col-md-11" colspan="5" style="background-color: #c8bbbb; text-align:right">ราคา</th>
                    <th class="col-md-1" style="background-color: #c8bbbb; ">จำนวน</th>
                </tr>
                <tr ng-repeat="item in data.childs">
                    <td class="col-md-1">{{item.code}}</td>
                    <td class="col-md-7">{{item.name}}</td>
                    <td class="col-md-1">{{item.desc}}</td>
                    <td class="col-md-1">{{item.qty}}</td>
                    <td class="col-md-1" style="text-align:right;">{{item.price}}</td>
                    <td class="col-md-1">
                        <input type="text" style="width:50px;">
                    </td>
                </tr>
                <tr class>
                <th class="col-md-1"></th>
                <th class="col-md-3"></th>
                <th class="col-md-3"></th>
                <th class="col-md-3"></th>
                <th class="col-md-1">
                    <button class="btn btn-success" data-dismiss="modal">ตกลง</button>
                </th>
            </tr>
            </table>
        </div>
    </div>
    
</div>

