<div class="col-md-10 col-md-offset-2 sale-main">
    <div class="row" ng-repeat="item in recommend.child">
        <div class="col-md-12">
            <section id="{{item.id}}" >
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="pull-left ttl_main_sale">{{item.name}}</h4>
                    </div>
                    <div class="col-md-6">
                        <!--  <a href="#/products" class="pull-right viewall"> ดูทั้งหมด</a> -->
                    </div>
                </div>
                <div class="row">
                    <ul class="box-sale-main">
                        <li class="box-sale-4" ng-repeat="itm in item.child">
                            <a ng-click="viewCate(itm)">
                                <div class="product_img">
                                    <img actual-src="{{imgPrefix(itm.id)}}" ng-src="images/category/0.png" />
                                </div>
                                <p class="docsis">{{itm.name}}</p>
                            </a>
                            
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</div>
