<!-- Header -->
<div id="header" ng-include="'views/common/headerserved.html'"></div>
<!-- Main Wrapper -->
<nav class=" navbar-default landing-bar">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <div class="row">
                <div>
                    <br>
                    <p>
                        Home > Order summary </p>
                </div>
            </div>
        </div>
</nav>

<div id="wrapper">
    <div class="container">
    <br /><br />
    <h5>สรุปรายการซื้อสินค้า</h5><br />
<br />

        <table class="table table-hover">
        	<tr class="active">
            	<th></th>
            	<th>รายการที่รับชำระ</th>
                <th >จำนวน</th>
                <th class="text-right">ราคา</th>
                <th></th>
            </tr>
            <tr ng-repeat="itm in order_product_item_list">
            	<td><img src="images/icon/icon_no.png" ng-click="deleted(itm.GROUP_ID, $index)"></td>
            	<td>{{$index + 1}}. {{itm.PRODUCT_NAME}}  </td>
                <td>{{itm.QTY}} </td>
                <td class="text-right">{{itm.TOTAL | number:2}}</td>
                <td>บาท</td>
            </tr>
            <tr>
            	<td  ><i class="fa fa-plus-circle fa-lg fa-2x red" ng-click="getDiscount();"   ></i></a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
           	</tr>
		</table>
        <div class="row">
        	<div class="col-md-7"></div>
  			<div class="col-md-2">จำนวนเงินที่ต้องชำระ</div>
        	<div class="col-md-1"><b>{{total | number:2}}</b> </div>
            <div class="col-md-1">บาท </div>
        </div>  
        <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <button class="btn btn-cancel" id="addproduct" onclick="location.href='#landingpage'" ng-disabled ="btnDisabled ==true">เพิ่มรายการสินค้า</button>
                    <button class="btn btn-success" onclick="location.href='#order'">ตกลง</button>
                </div>
            </div>
         </div>   
    </div>
   
</div>        