<!-- Header -->
<div id="header" ng-include="'views/common/headerserved.html'"></div>
<!-- Main Wrapper -->
<nav class=" navbar-default landing-bar">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <div class="row">
                <div>
                    <br>
                    <p>
                        Home > Order summary </p>
                </div>
            </div>
        </div>
</nav>

<div id="wrapper">
    <div class="container">
    <br /><br />
    <h5>สรุปรายการซื้อสินค้า</h5><br />
<br />

        <table class="table table-hover">
        	<tr class="active">
            	<th></th>
            	<th>รายการที่รับชำระ</th>
                <th >จำนวน</th>
                <th class="text-right">ราคา</th>
                <th></th>
            </tr>
            <tr ng-repeat="itm in order_product_item_list">
            	<td><img src="images/icon/icon_no.png" ng-click="deleted(itm.GROUP_ID, $index)"></td>
            	<td>{{$index + 1}}. {{itm.PRODUCT_NAME}}  </td>
                <td>{{itm.QTY}} </td>
                <td class="text-right">{{itm.TOTAL | number:2}}</td>
                <td>บาท</td>
            </tr>
            <tr>
            	<td  ><i class="fa fa-plus-circle fa-lg fa-2x red"  href="#modalAdd" onclick="return false;" data-toggle="modal" ></i></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
           	</tr>
		</table>
        <div class="row">
        	<div class="col-md-7"></div>
  			<div class="col-md-2">จำนวนเงินที่ต้องชำระ</div>
        	<div class="col-md-1"><b>{{total | number:2}}</b> </div>
            <div class="col-md-1">บาท </div>
        </div>  
        <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <button class="btn btn-cancel" onclick="location.href='#landingpage'" ng-disabled ="btnDisabled ==true">เพิ่มรายการสินค้า</button>
                    <button class="btn btn-success" onclick="location.href='#orderCapture'">ตกลง</button>
                </div>
            </div>
         </div>   
    </div>
    <div id="modalAdd" tabindex="-1" class="modal fade" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header header"  >
                    <h5 class="navbar-text">ส่วนลด / รหัสการจอง</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        
                        <div class="col-md-7"><b>ประเภท</b></div>
                        <div class="col-md-5"><b>ค้นหา</b></div>
                    </div><br />
                    <div class="row">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-3">
                                    <label ><input type="radio" name="typeDiscount" value="D" ng-model="promotionType" ng-change="cleartext()" > ส่วนลด</label>
                                </div>
                                <div class="col-md-6">
                                  <label >  <input type="radio" name="typeDiscount" value="V" ng-model="promotionType" ng-change="cleartext()"  > คูปองเงินสด/ บัตรของขวัญ/ Voucher</label>
                                </div>
                                <div class="col-md-3">
                                   <label > <input type="radio" name="typeDiscount" value="B" ng-model="promotionType" ng-change="cleartext()" > รหัสการจอง</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                <input class="form-control" type="text" id="textcode" ng-model="promotionSearch" value="" 
                 ng-keypress="$event.keyCode == 13 ? searchlist() : null"
                 >
                        </div>
                    </div>
                    <br>
                    <div >
                        <table class="table table-hover">
                            <tr class=" active">
                                
                                <th class="col-md-7" ><span> รหัสคูปอง</span></th>
                                <th class="col-md-2 text-right" ><span>จำนวนเงิน</span></th>
                                <th></th>
                            </tr>
                            <tr  ng-repeat="data in order_insert">
                               
                                <td class="col-md-7">{{ $index + 1 }}. {{data.PRODUCT_NAME}}</td>
                                <td class="col-md-2 text-right">{{data.TOTAL | number:2}}</td>
                                <td>บาท</td>
                            </tr>
                        </table>
                       <hr />
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-2">รวม</div>
                            <div class="col-md-2"><b>{{total_modal | number:2}}</b></div>
                            <div class="col-md-2">บาท</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" data-dismiss="modal" ng-click="addToListCard()">เลือก</button>
                    <button class="btn btn-cancel" data-dismiss="modal">ยกเลิก</button>
                </div>
            </div>
        </div>
    </div>
</div>        