<!-- Header -->
<div id="header" ng-include="'views/common/headerserved.html'"></div>
<!-- Main Wrapper -->
<nav class=" navbar-default landing-bar">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <div class="row">
                <div><br><p>
Home > Products > Devices > iPhone > Promotion > Priceplan</p>
                </div>
            </div>
        </div>
</nav>

<div id="wrapper">
    <div class="container">
        <br/><br/>
         <h4>เปิดบริการใหม่</h4>
         <br/>
        <div class="well">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3 col-md-offset-3" >
                        <input type="radio" checked>
                        <label>เปิดบริการหมายเลขใหม่</label>
                    </div>    
                     <div class="col-md-2" >
                        <input type="radio" disabled>
                        <label> ใช้บริการหมายเลขเดิม</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 " >
                        <label> ประเภทลูกค้าย่อย</label>
                        <select id="selectCustomer" ng-model="customer_subtype" class=" form-control" >
                            <option ng-repeat="itemcustomer in openservice_obj.customer_subtype" value="{{itemcustomer.textvalue}}">{{itemcustomer.textname}}</option>
                        </select>
                    </div>
                    <div class="col-md-6 " >
                        <label> รายการส่งเสริมการขาย</label>
                        <select id="selectPromotion"  ng-model="promotion" class=" form-control">
                            <option ng-repeat="itemcustomer in openservice_obj.postPromotion" value="{{itemcustomer.textvalue}}">{{itemcustomer.textname}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" >
                         <label> หมายเลขโทรศัพท์ที่จองไว้</label>
                         <select multiple="multiple" ng-model="phonenumber" class="form-control">
                            <option ng-repeat="itemcustomer in openservice_obj.phonenumberReservations" value="{{itemcustomer.phone}}" >{{itemcustomer.phone}}</option>
                           
                         </select>
                    </div>
                </div>
                <div  ng-repeat="data in detailPhonenumber">
                    <div class="panel panel-danger">
                        <div class="panel-heading">ข้อมูลหมายเลขโทรศัพท์
                            <a href="javascript:;" ng-click='removeGroup($index)' class="remove">
                                <span class="glyphicon glyphicon-remove align_right" ng-hide="$index =='0'"></span>
                            </a>    
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6" >
                                    <label> หมายเลขโทรศัพท์</label>
                                    <input type="text" class="form-control" ng-model="textphonenumber" value="{{data.phonenumber}}">
                                </div>
                                <div class="col-md-6" >
                                    <label> ซิมการ์ด</label>
                                    <select id="selectReasonId" ng-options="option.dec for option in reasons" ng-change="onReasonChange()" ng-model="simcard" class=" form-control">
                                        <option value="">3000014920 SIM Card</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" >
                                    <label> Price Plan</label>
                                    <input type="text" class="form-control" ng-model="priceplan" value="{{data.priceplan}}">
                                </div>
                                
                                <div class="col-md-3" >
                                    <label> ค้นหา</label>
                                    <input type="text" placeholder="--ค้นหา--" ng-model="textsearch" class="form-control" required>
                                </div> 
                                <div class="col-md-1" >
                                    <label> </label>
                                    <button ng-click="selectedPricePlan()" href="#modalPriceplanOwnership" id="modalnewpriceplan" class="btn" onclick="return false;" data-toggle="modal" style="background-color: #5cb85c; border-color: #4cae4c; margin-top:28px; ">
                                        <span style="color:white;">...</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <a href="javascript:;" ng-click="addGroup();">
                            <span class="glyphicon glyphicon-plus-sign text-success"  style="font-size:2em"></span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-md-offset-10" >
                        <button class="btn btn-success" id="modallistpayment" onclick="javascript:;" onclick="gotoNext()" data-dismiss="modal" align="right">ถัดไป</button>
                    </div>
                </div>  

            </div>    
        </div>
    </div> 
</div>    

<div id="modalPriceplanOwnership" tabindex="-1" class="modal fade" data-backdrop="static" data-keyboard="false" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header header">
                <h5 class="navbar-text">เลือก Price Plan</h5><br>
              
                <div class="col-md-12">
                    <input type="text" placeholder="--ค้นหา--" ng-model="pricePlanFilter" class="form-control">
                </div>
            </div>
            <div class="modal-body">
                    <table class="table">
                        <tr class="active" >
                            <th ></th>
                            <th > Price Plan</th>
                            <th > RC</th>
                            <th  >รายการส่งเสริมการขาย</th>
                        </tr>
                        <tr  ng-repeat="pp in pricePlans | filter:pricePlanFilter" pagination-id="PPList" current-page="currentPage">
                            <td ><input name="pricels" type="radio" ng-change="selectedPricePlan(pp)" ng-model="pricePlan.name" ng-value="pp.pricePlan" /></td>
                            <td >{{pp.pricePlan}}</td>
                            <td >{{pp.rc}}</td>
                            <td>{{pp.promotion}}</td>
                        </tr>
                       
                    </table>
                <div id="div_event"></div>
            </div>
            <div class="modal-footer">

                <button class="btn btn-success" data-dismiss="modal">เลือก</button>
                <button class="btn btn-cancel" data-dismiss="modal">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>


<footer class="footer" ng-include="'views/common/footer.html'"></footer>
</div>
