<!-- Header -->
<div id="header" ng-include="'views/common/headerserved.html'"></div>
<nav class=" navbar-default landing-bar">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <div class="row">
                <div>
                    <br>
                    <p>
                        Home > Products > Devices > iPhone > Promotion > Privilege Verify </p>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="container">
        <div class="row ">
            <br>
            <div class="col-sm-2"></div>
            <div class="col-sm-10 xs-center">
                <h4>{{name}}</h4></div>
            <div class="row">
                <div class="col-sm-6 xs-center">
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4"><img actual-src="{{imgPrefix(itm.id)}}" ng-src="images/category/0.png" /></div>
                        <div class="col-sm-4"></div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                                <div class="col-md-12">
                                    <p>
                                        <b><h6>ตรวจสอบสิทธิ์</h6></b></p>
                                    <p>
                                        <h6>RS491 RF_Existing iPhone 6 & 6 Plus discount 5000</h6></p>
                                    <p>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label>หมายเลขบัตรประชาชน/พาสปอร์ต</label>
                                        <input disabled type="text" ng-model="userProfile.certificateId" placeholder="" class="form-control numberic">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group ">
                                        <label>หมายเลขโทรศัพท์</label>
                                        <input type="text" ng-model="param.verifyKeys[0].value" placeholder="" class="form-control numberic" maxlength="10">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="hidden" ng-model="isClick" value="false">
                                        <button type="button" ng-click="onVerify(); isClick=true" class="btn btn-default btn_address">ตรวจสอบ</button>
                                        <a href=""></a>
                                    </div>
                                </div>
                                <div class="col-md-4"></div>
                                {{param}}
                            </div>
                </div>
                <!-- Footer style="border-size:0.5px; border-style:solid;"-->
                <footer class="footer" ng-include="'views/common/footer.html'"></footer>
            </div>
        </div>
    </div>
