<!-- Header -->
<div id="header" ng-include="'views/common/headerserved.html'"></div>
<nav class=" navbar-default landing-bar">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <div class="row">
                <div>
                    <br>
                    <p>
                        Home > Products > Devices > iPhone > Promotion</p>
                </div>
            </div>
        </div>
    </div>
</nav>
<div id="wrapper">
    <div class="container">
        <div class="row ">
            <br>
            <div class="col-sm-2"></div>
            <div class="col-sm-10 xs-center">
                <h4>{{name}}</h4></div>
            <div class="row">
                <div class="col-sm-6 xs-center">
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4"><img actual-src="{{imgPrefix(itm.id)}}" ng-src="images/category/0.png" /></div>
                        <div class="col-sm-4"></div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-xs-8 col-centered">
                                <div data-toggle="buttons" class="btn-group btn-group-justified">
                                    <label class="btn btn-default active" id="labelAdd" ng-click="selectTab('1')">
                                        <input type="radio" value="1"> Campaign
                                    </label>
                                    <label class="btn btn-default" ng-click="selectTab('2')">
                                        <input type="radio" value="2"> Promotion Set
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="well" style="background-color:#ffffff;">
                        <br>
                        <div ng-show="tabname=='1'">
                            <div class="tab-pane current" id="home">
                                <a href="" data-toggle="modal" data-target=".modalPromotion">
                                    <div ng-controller="promotionCtrl">
                                        <div class="row">
                                            <div class="col-md-9">
                                                <!-- Use ng-repeat with ul.li -->
                                                <input class="form-control" type="text" ng-model="query">
                                            </div>
                                            <!-- <div class="col-md-3"></div>
                                                        <div class="col-md-3"></div> -->
                                            <div class="col-md-3">
                                                <select class="form-control" ng-model="selectCampaignCode">
                                                    <option ng-repeat="itm in campaignTypes">{{itm.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <br>
                                        <div ng-repeat="itm in filteredCamps = (campaigns | filter : query | filter : startsWithLetter:selectCampaignCode)">
                                            <div class="well" ng-click="choose(itm)" style="background-color: #CCFFFF; border-color: #33FFFF; ">
                                                <div class="col-md-12">
                                                    <b>{{itm.code}} {{itm.name}}</b>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <ul>
                                                                <li>{{itm.desc}}
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <!-- <div class="col-md-12">
                                                                <b>{{itm.desc}}</b>
                                                            </div> -->
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-show="!filteredCamps.length">ไม่พบข้อมูล</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div ng-show="tabname=='2'">
                            <div class="tab-pane current" id="home">
                                <a href="" data-toggle="modal" data-target=".modalPromotion">
                                    <div ng-controller="promotionCtrl">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <!-- Use ng-repeat with ul.li -->
                                                <input class="form-control" type="text" ng-model="query">
                                            </div>
                                        </div>
                                        <br>
                                        <div ng-repeat="itm in filteredPros = (promotions | filter : query)">
                                            <div class="well" ng-click="choosePro(itm)" style="background-color:pink">
                                                <div class="col-md-12">
                                                    <b>{{itm.code}} {{itm.name}}</b>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <ul>
                                                            <li>{{itm.desc}}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <!-- <div class="row">
                                                            <div class="col-md-12">
                                                                <b>{{itm.desc}}</b>
                                                            </div>
                                                        </div -->
                                            </div>
                                        </div>
                                        <div ng-show="!filteredPros.length">ไม่พบข้อมูล</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer style="border-size:0.5px; border-style:solid;"-->
                <footer class="footer" ng-include="'views/common/footer.html'"></footer>
            </div>
        </div>
    </div>
</div>
